<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} NUDE %5p [%t] %logger{20}:%line - %m%n</pattern>
		</encoder>
	</appender>
	<logger name="org.apache.http" level="INFO"/>
	<root level="trace">
		<appender-ref ref="stdout" />
	</root>
</configuration>